.about_wrap {
    color: #fff;
    padding-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_wrap .about {
    display: flex;
    gap: 5rem;
    width: 100%;
    /* height: 25rem; */
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.about_wrap .img {
    width: 120%;
    height: 25rem;
    border-radius: 30px;
    background: linear-gradient( #5c54f9, rgba(128, 0, 128, 0.705));
}

.about_wrap .img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.about_wrap .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.7rem;
    height: 100%;
    /* border: 1px solid; */
}

.about_wrap .content p {
    width: 90%;
    font-size: 1.7rem;
}

.about_wrap .content .about_text {
    margin-bottom: 1rem;
    font-size: 1rem;
}


/* 

98v[^b{KeJmi

*/

.image_company img {
    width: 6rem;
    border-radius: 50%;
}

.image_company {
    margin-left: 5rem;
    height: 9rem;
    width: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}