.swiper {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-pagination-bullet {
    background-color: #ccc;
}

.swiper-pagination-horizontal {
    top: 80% !important
}

.content_slide {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_slide .title_big {
    font-size: 3.5rem;
    font-weight: 900;
}

.content_slide .title_small {
    font-size: .9rem;
    font-weight: 200;
    width: 80%;
    text-align: center;
    /* border: 1px solid; */
    opacity: .8;
}

.swiper-bottom {
    height: 40%;
    width: 100%;
}

.swiper-bottom_light {
    height: 40%;
    width: 100%;
}

.swiper-bottom .swiper {
    width: 16rem;
    height: 99%;
    margin-top: .5rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    /* border: 1px solid; */
}

.swiper-bottom_light .swiper {
    width: 16rem;
    height: 99%;
    margin-top: .5rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    /* border: 1px solid; */
}

.swiper-bottom .swiper-slide {
    background-color: rgba(128, 0, 128, 0.705);
    background-color: #5c54f9;
    background: linear-gradient( #3a393e, rgba(146, 135, 146, 0.705));
    /* border: 1px solid; */
}

.swiper-bottom_light .swiper-slide {
    background-color: #5d58585d;
    /* border: 1px solid black; */
    /* padding: 1rem; */
}

.swiper-bottom .content_slide {
    /* border: 1px solid; */
    height: 100%;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.swiper-bottom .title_small {
    padding: 0;
    /* border: 1px solid; */
    text-align: left;
    font-size: 2rem;
    width: 100%;
}

.swiper-bottom .title_big {
    background-color: #000;
    height: 60% !important;
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.swiper-bottom .swiper-pagination-bullet {
    width: .5rem;
    border-radius: 10px;
    height: .3rem;
}

.swiper-bottom .swiper-pagination-horizontal {
    top: 90% !important
}

.swiper-bottom_light .content_slide {
    /* border: 1px solid; */
    height: 100%;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    /* border-radius: 30px; */
}

.swiper-bottom_light .title_small {
    padding: 0;
    /* border: 1px solid; */
    text-align: left;
    font-size: 2rem;
    width: 100%;
    color: #000;
    font-weight: 400;
    opacity: 1;
}

.swiper-bottom_light .title_big {
    background-color: #000000;
    height: 60% !important;
    width: 100%;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.swiper-bottom_light .swiper-pagination-bullet {
    width: .5rem;
    border-radius: 10px;
    height: .3rem;
    background-color: #000;
}

.swiper-bottom_light .swiper-pagination-horizontal {
    top: 90% !important
}