.work {
    color: #fff;
    padding-top: 7rem;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work .works {
    width: 60%;
}

.work .work_title {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: 4rem;
}

.work .work_item {
    border-bottom: 1px solid#fff;
    padding: 1rem;
    padding-left: 0;
    padding-bottom: .5rem;
    width: 100%;
    /* border: 1px solid; */
    margin-bottom: 1.5rem;
}

.work .item_cert {
    border: 1px solid#ccc;
    border-radius: 1rem;
    padding: 1rem;
}

.work_item .title {
    opacity: .6;
    font-weight: 200;
}

.work_item .title span {
    font-size: .8rem;
    opacity: .5;
}

.work_item .bold_title {
    font-size: 3rem;
    letter-spacing: 1px;
    line-break: strict;
}

.work_item .smallee {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.work_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smaller_bold {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-break: strict;
}

.work_item .more {
    border: 1px solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    display: inline-block;
    animation: swing 1s ease-in-out infinite;
    transform-origin: top center;
}

@keyframes swing {
    0% {
        transform: rotate(-220deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}